# DataBase Connection

In [1]:
import pymysql

In [9]:
server=pymysql.connect(host='127.0.0.1', user='root', passwd='Getin@2001')

In [10]:
cursor=server.cursor()

In [11]:
sql='CREATE DATABASE IF NOT EXISTS PYTHON_DB;'
cursor.execute(sql)

0

In [12]:
sql='USE PYTHON_DB;'
cursor.execute(sql)

0

In [13]:
sql='CREATE TABLE IF NOT EXISTS STUDENT(id INT, name VARCHAR(20));'
cursor.execute(sql)

0

In [14]:
sql='INSERT INTO STUDENT VALUES(1, "Anil");'
cursor.execute(sql)
sql='INSERT INTO STUDENT VALUES(2, "Krishna");'
cursor.execute(sql)
sql='INSERT INTO STUDENT VALUES(4, "Govinda");'
cursor.execute(sql)
sql='INSERT INTO STUDENT VALUES(3, "Krishna");'
cursor.execute(sql)

1

In [15]:
sql='SELECT * FROM STUDENT;'
cursor.execute(sql)

4

In [16]:
print(cursor.fetchall())

((1, 'Anil'), (2, 'Krishna'), (4, 'Govinda'), (3, 'Krishna'))

In [17]:
sql='USE PLACE;'
cursor.execute(sql)

0

In [22]:
sql='SELECT id, name, email, password FROM USER;'
cursor.execute(sql)

6

In [19]:
import pandas as pd

In [23]:
pd.DataFrame(cursor.fetchall())

    0           1                  2               3
0   7        hima     hima@gmail.com        H!ma@123
1   8  Anil Krish     anil@gmail.com        Anil@123
2   9       Vamsi    vamsi@gmail.com       Vamsi@123
3  10     Rehaman  rehaman@gmail.com  Anil@123456789
4  11       Pavan    pavan@gmail.com      Pavani@123
5  12     Bharath  bharath@gmail.com     Bharath@123

In [33]:
print(cursor.fetchall())

((7, 'hima', 'hima@gmail.com', 'H!ma@123'), (8, 'Anil Krish', 'anil@gmail.com', 'Anil@123'), (9, 'Vamsi', 'vamsi@gmail.com', 'Vamsi@123'), (10, 'Rehaman', 'rehaman@gmail.com', 'Anil@123456789'), (11, 'Pavan', 'pavan@gmail.com', 'Pavani@123'))