In [6]:
import pandas as pd

In [29]:
df=pd.read_excel('R18_CSE.xlsx', sheet_name='Sec-B')

In [30]:
df.head()

   S_No       ID                    Mail                 Name Gender Branch
0     1  R180765  R180765@rguktrkv.ac.in        ARURU DEEPTHI      F    CSE
1     2  R180645  R180645@rguktrkv.ac.in  ATTAR MUSFIRAKOUSAR      F    CSE
2     3  R180562  R180562@rguktrkv.ac.in    AVULASETTY DEVIKA      F    CSE
3     4  R180168  R180168@rguktrkv.ac.in             B IKRIYA      F    CSE
4     5  R180470  R180470@rguktrkv.ac.in      BADDELA NANDINI      F    CSE

In [9]:
df.shape

(93, 6)

In [21]:
df.tail()

,S_No,ID,Mail,Name,Gender,Branch
88,89,R180625,R180625@rguktrkv.ac.in,KUMMARA RAGHAVA,MALE,CSE
89,90,R181011,R181011@rguktrkv.ac.in,VENDOTI VENKATA SAI KUMAR,MALE,CSE
90,91,R180861,R180861@rguktrkv.ac.in,SAKE SAI KUMAR,MALE,CSE
91,92,R181022,R181022@rguktrkv.ac.in,GUNDLURU NIKHIL,MALE,CSE
92,93,R180493,R180493@rguktrkv.ac.in,SEELA MANOJ KUMAR,MALE,CSE

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 1.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [4]:
server=pymysql.connect(host='localhost', user='root', passwd='', db='ATTENDANCE')
server.autocommit(True)

In [5]:
cursor=server.cursor()

In [35]:
for i in range(0, 93):
    sql='INSERT INTO SEC_B VALUES({}, "{}", "{}", "{}", "{}");'.format(df['S_No'][i], df['ID'][i], df['Name'][i], df['Gender'][i], 'SEC-B')
    cursor.execute(sql)

In [20]:
df.iloc[1, :]

S_No                           2
ID                       R180645
Mail      R180645@rguktrkv.ac.in
Name         ATTAR MUSFIRAKOUSAR
Gender                    FEMALE
Branch                       CSE
Name: 1, dtype: object

In [32]:
sql='INSERT INTO ATTENDANCE VALUES({}, "{}", "{}", "{}", "{}");'.format(df['S_No'][i], df['ID'][i], df['Name'][i], df['Gender'][i], 'SEC-B')

In [33]:
sql

'INSERT INTO ATTENDANCE VALUES(1, "R180765", "ARURU DEEPTHI", "F", "SEC-B");'