# Linear Regression Assignment

### Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

### 1. Loading The Dat Set Using Pandas

In [2]:
df=pd.read_csv("data (2).csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

### 2. Extract Data from Years Experience column as a variable named X

In [3]:
X=df[["YearsExperience"]]

### 3. Extract Data from Salary column as a variable named Y

In [4]:
Y=df[["Salary"]]

### 4. Divide the dataset into two parts for training and testing in 66% and 33% proportion

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33)
print(x_train.shape, x_test.shape)

(20, 1) (10, 1)

### 5. Create and train Linear Regression Model on training set

In [6]:
LR=LinearRegression()
LR.fit(x_train, y_train)

LinearRegression()

### 6. Make predictions based on the teating set using the trained model

In [7]:
y_pred=LR.predict(x_test)

data=pd.DataFrame()
data["Original"]=y_test
data["Predicted"]=y_pred
data

    Original      Predicted
26  116969.0  117188.122626
28  122391.0  124963.545020
5    56642.0   53040.887876
15   67938.0   72479.443861
10   63218.0   62760.165869
29  121872.0  126907.400619
4    39891.0   46237.393281
6    60150.0   54012.815675
3    43525.0   44293.537683
27  112635.0  118160.050425

### 7. Check the performance by calculaitng the r2 score of the model

In [8]:
performance=r2_score(y_test, y_pred)
print(performance)

0.9829966816961354