In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

In [23]:
#x=pd.DataFrame([i for i in range(964)])
#y=pd.DataFrame([i for i in range(0, 12532, 13)])

In [72]:
x=pd.DataFrame([i for i in range(964)])
y=pd.DataFrame([12*i for i in range(0, 12532, 13)])

In [73]:
len(x)

964

In [74]:
len(y)

964

In [75]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=3)

In [76]:
lr=LinearRegression()

In [77]:
lr.fit(x_train, y_train)

LinearRegression()

In [78]:
y_pred=lr.predict(x_test)

In [83]:
y_pred=lr.predict([[1596]])

In [84]:
show=pd.DataFrame(y_test[0], y_pred[0])

In [85]:
y_test

          0
636   99216
558   87048
857  133692
99    15444
472   73632
..      ...
46     7176
4       624
793  123708
123   19188
319   49764

[193 rows x 1 columns]

In [86]:
y_pred

array([[248976.]])