In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [4]:
marks=pd.read_excel('CGPA and Average Grade Point details for Branch Allocation AY2020-21.xlsx')

In [5]:
marks.head()

,S.No,Roll Number,Number of remedials,CGPA (upto P2S2),Average GP of Maths in PUC,Average GP of Physics in PUC,Average GP of Chemistry in PUC,Remarks,Eligible for Branch allocation ?
0,1,N170822,0,7.66,7.25,7.25,7.25,--,YES
1,2,N180059,0,6.55,6.25,6.00,6.00,--,YES
2,3,N180154,0,8.35,8.25,8.00,7.75,--,YES
3,4,N180156,0,8.59,8.50,8.25,8.00,--,YES
4,5,N180300,0,7.95,8.00,7.50,7.75,--,YES

In [34]:
y=marks['Eligible for Branch allocation ?']
x=marks[['CGPA (upto P2S2)', 'Average GP of Maths in PUC', 'Average GP of Physics in PUC', 'Average GP of Chemistry in PUC']]

In [35]:
x

,CGPA (upto P2S2),Average GP of Maths in PUC,Average GP of Physics in PUC,Average GP of Chemistry in PUC
0,7.66,7.25,7.25,7.25
1,6.55,6.25,6.00,6.00
2,8.35,8.25,8.00,7.75
3,8.59,8.50,8.25,8.00
4,7.95,8.00,7.50,7.75
...,...,...,...,...
1272,7.50,8.25,7.00,6.75
1273,6.66,7.00,6.50,6.50
1274,7.97,8.00,8.00,7.50
1275,6.68,6.75,6.50,6.75
1276,6.65,6.25,6.25,6.75

In [36]:
y

0       YES
1       YES
2       YES
3       YES
4       YES
       ...
1272    YES
1273    YES
1274    YES
1275    YES
1276    YES
Name: Eligible for Branch allocation ?, Length: 1277, dtype: object

In [37]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.3, random_state=0)

In [38]:
dct=DecisionTreeClassifier()

In [39]:
dct.fit(x_train, y_train)

DecisionTreeClassifier()

In [40]:
y_pred=dct.predict(x_test)

In [41]:
y_test.head(), y_pred[:5]

(1271     NO
 877     YES
 1130     NO
 1252    YES
 247     YES
 Name: Eligible for Branch allocation ?, dtype: object,
 array(['NO', 'YES', 'NO', 'YES', 'YES'], dtype=object))

In [ ]:
from sklearn