In [54]:
import pymysql

In [157]:
class Html:
    def __init__(self, page_title):
        self.page_title=page_title
        file=open(self.page_title+'.html', 'w')
        file.close()
    
    def create(self, html):
        file=open(self.page_title+'.html', 'w')
        file.write(html)
        file.close()
        return True
    
    def show(self):
        import webbrowser as wb
        wb.open(self.page_title+'.html')

In [170]:
class DataBase:
    def __init__(self):
        server=pymysql.connect(host='localhost', user='root', passwd='Getin@2001', db='Attendance')
        cursor=server.cursor()
        self.cursor=cursor
    
    def show(self, table_name, *columns):
        if(len(columns)==0):
            return "Please Select Columns"
        
        print('Columns: ', columns)
        sql="SELECT {}".format(columns[0])
        if(columns[0]!='*'):
            for i in range(1, len(columns)):
                col=columns[i]
                sql+=", {}".format(columns[i])
        sql+=" FROM {}".format(table_name)
        print(sql)
        self.cursor.execute(sql)
        return self.cursor.fetchall()
    
    def display_html(self, table_name, *columns):
        self.table_name=table_name
        self.columns=columns
        
        if(len(columns)==0):
            return "Please Select Columns"
        
        print('Columns: ', columns)
        sql="SELECT {}".format(columns[0])
        if(columns[0]!='*'):
            for i in range(1, len(columns)):
                col=columns[i]
                sql+=", {}".format(columns[i])
        sql+=" FROM {} ORDER BY s_no".format(table_name)
        print(sql)
        self.cursor.execute(sql)
        table=self.cursor.fetchall()
        
        html=''
        
       
       # table=self.show(self.table_name, self.columns)
        
        print('Tuple: ', columns)
        html+="<table border='1'>"
        
        
        for row in table:
            html+="\t<tr>\n"
            for value in row:
                html+="\t\t<td>{}</td>\n".format(value)
            html+="\t</tr>\n"
        html+="</table>"
        
        
        return html

    def describe(self, table_name):
        sql="DESC {}".format(table_name)
        self.cursor.execute(sql)
        return self.cursor.fetchall()

In [171]:
page=Html('Python Web')
section=DataBase()

In [172]:
section.show('SEC_B', '*')

Columns:  ('*',)
SELECT * FROM SEC_B

((72, 'O180543', 'VASANTHAM VISWANATHA', 'M', 'CSE', 'Sec-B'),
 (44, 'O180897', 'SYED HABEEBA SULTHANA', 'F', 'CSE', 'Sec-B'),
 (50, 'R170908', 'KATRAM HEMA LATHA', 'F', 'CSE', 'Sec-B'),
 (33, 'R171061', 'MANALA ANUSHA', 'F', 'CSE', 'Sec-B'),
 (42, 'R180002', 'NARISETTY SUNANDHA', 'F', 'CSE', 'Sec-B'),
 (23, 'R180004', 'GOVINDU REDDY LATHA', 'F', 'CSE', 'Sec-B'),
 (32, 'R180009', 'MALLELA CHANDINI', 'F', 'CSE', 'Sec-B'),
 (75, 'R180016', 'ANNAM TARUN KUMAR', 'M', 'CSE', 'Sec-B'),
 (65, 'R180039', 'NIDIGINTI GUNA SAI VAMSIDHAR', 'M', 'CSE', 'Sec-B'),
 (52, 'R180050', 'KOTHINTI SHAIK SHAMA ANJUM', 'F', 'CSE', 'Sec-B'),
 (43, 'R180059', 'SHAIK SHABREEN', 'F', 'CSE', 'Sec-B'),
 (49, 'R180073', 'KAMASANI MADHAVI', 'F', 'CSE', 'Sec-B'),
 (76, 'R180082', 'KAVALAKUNTLA MANIKUMAR', 'M', 'CSE', 'Sec-B'),
 (86, 'R180086', 'ISLAVATH SATHISH NAIK', 'M', 'CSE', 'Sec-B'),
 (31, 'R180114', 'MALA SINDHU', 'F', 'CSE', 'Sec-B'),
 (36, 'R180115', 'MANGALI LALITHA', 'F', 'CSE', 'Sec-B'),
 (78, 'R180119', 'PALLA DINESH', 'M', 'CSE', 'Sec-B'),
 (7, 'R180133', 'BANDLA SNEHA', 'F', 'CSE', 'Sec-B'),
 (22, 'R180154', 'GORRELA RAMADEVI', 'F', 'CSE', 'Sec-B'),
 (20, 'R180155', 'GODUGUCHINTHA PREETHI', 'F', 'CSE', 'Sec-B'),
 (16, 'R180161', 'GABU SOUJANYA', 'F', 'CSE', 'Sec-B'),
 (25, 'R180163', 'KANCHI VAISHNAVI', 'F', 'CSE', 'Sec-B'),
 (4, 'R180168', 'B IKRIYA', 'F', 'CSE', 'Sec-B'),
 (35, 'R180237', 'MANGALAPURI DHARANI', 'F', 'CSE', 'Sec-B'),
 (84, 'R180244', 'CHILLA JOY JOSHUA PAUL', 'M', 'CSE', 'Sec-B'),
 (27, 'R180253', 'KANIPAKAM PAVANI TEJA', 'F', 'CSE', 'Sec-B'),
 (40, 'R180259', 'NALLAKUKKALA SILPA', 'F', 'CSE', 'Sec-B'),
 (55, 'R180271', 'MADIGA INDU', 'F', 'CSE', 'Sec-B'),
 (82, 'R180295', 'KONDRAKUNTA LAVAKUMAR', 'M', 'CSE', 'Sec-B'),
 (13, 'R180320', 'C YUVARANI', 'F', 'CSE', 'Sec-B'),
 (77, 'R180354', 'NEELAGIRI DEEPAK', 'M', 'CSE', 'Sec-B'),
 (14, 'R180357', 'CHEDIPOTHULA MADHAVI', 'F', 'CSE', 'Sec-B'),
 (34, 'R180364', 'MANANDIGARI PREMA PAVANI', 'F', 'CSE', 'Sec-B'),
 (9, 'R180373', 'BOYA NAGAMANI', 'F', 'CSE', 'Sec-B'),
 (6, 'R180381', 'BANDI LAVANYA', 'F', 'CSE', 'Sec-B'),
 (70, 'R180389', 'N UDAY KIRAN', 'M', 'CSE', 'Sec-B'),
 (62, 'R180399', 'JAMALLA KRISHNA CHARAN', 'M', 'CSE', 'Sec-B'),
 (21, 'R180432', 'GOLLAPUDI PRAJWALA', 'F', 'CSE', 'Sec-B'),
 (46, 'R180435', 'GUDISI CHANDANA', 'F', 'CSE', 'Sec-B'),
 (17, 'R180436', 'GAGGUTURI AYESHA', 'F', 'CSE', 'Sec-B'),
 (47, 'R180457', 'KALAMANDALA MOUNIKA', 'F', 'CSE', 'Sec-B'),
 (68, 'R180467', 'CHAKKA VISHNU VARDHAN', 'M', 'CSE', 'Sec-B'),
 (5, 'R180470', 'BADDELA NANDINI', 'F', 'CSE', 'Sec-B'),
 (69, 'R180475', 'ASADI SASIKIRAN YADAV', 'M', 'CSE', 'Sec-B'),
 (93, 'R180493', 'SEELA MANOJ KUMAR', 'M', 'CSE', 'Sec-B'),
 (10, 'R180505', 'BOYA RUPADEVI', 'F', 'CSE', 'Sec-B'),
 (60, 'R180538', 'HULEBEEDU VINOD KUMAR', 'M', 'CSE', 'Sec-B'),
 (85, 'R180559', 'NEELURI GUNASEKHAR', 'M', 'CSE', 'Sec-B'),
 (3, 'R180562', 'AVULASETTY DEVIKA', 'F', 'CSE', 'Sec-B'),
 (37, 'R180568', 'MANJUNATH REDDY ARCHANA', 'F', 'CSE', 'Sec-B'),
 (29, 'R180583', 'KARRE DIVYA', 'F', 'CSE', 'Sec-B'),
 (59, 'R180610', 'BOYA SRINIVASULU', 'M', 'CSE', 'Sec-B'),
 (12, 'R180613', 'C PRIYANKA', 'F', 'CSE', 'Sec-B'),
 (56, 'R180615', 'MALLAKUNTA MANOJ KUMAR', 'M', 'CSE', 'Sec-B'),
 (89, 'R180625', 'KUMMARA RAGHAVA', 'M', 'CSE', 'Sec-B'),
 (66, 'R180634', 'JARIPITI CHANDU', 'M', 'CSE', 'Sec-B'),
 (30, 'R180639', 'KATIKA AFIFA AMRIN', 'F', 'CSE', 'Sec-B'),
 (2, 'R180645', 'ATTAR MUSFIRAKOUSAR', 'F', 'CSE', 'Sec-B'),
 (11, 'R180673', 'BRAHMANAPALLI MANASA', 'F', 'CSE', 'Sec-B'),
 (83, 'R180683', 'AVULA DINESH', 'M', 'CSE', 'Sec-B'),
 (57, 'R180697', 'KOLLAPALLI LOKESH', 'M', 'CSE', 'Sec-B'),
 (41, 'R180707', 'NARAYANA KALYANI', 'F', 'CSE', 'Sec-B'),
 (19, 'R180721', 'GANTEELA TULASI', 'F', 'CSE', 'Sec-B'),
 (87, 'R180736', 'MEENUGA SUMAN SEKHAR', 'M', 'CSE', 'Sec-B'),
 (61, 'R180738', 'KOLEGUNDLA VENKATA KALYAN', 'M', 'CSE', 'Sec-B'),
 (1, 'R180765', 'ARURU DEEPTHI', 'F', 'CSE', 'Sec-B'),
 (45, 'R180773', 'GOWRAVA GAYATHRI', 'F', 'CSE', 'Sec-B'),
 (51, 'R180784', 'KOTHAPU NAGA PREETHI', 'F', 'CSE', 'Sec-B'),
 (53, 'R180787', 'KUKATLAPALLI SUDHA RANI', 'F', 'CSE', 'Sec-B'),
 (15, 'R180789', 'G DIVYA', 'F', 'CSE', 'Sec-B'),
 (54, 'R180809', 'KULLAMPALLI HEMA MADHURI', 'F', 'CSE', 'Sec-B'),
 (81, 'R180814', 'P SAI SANDEEP', 'M', 'CSE', 'Sec-B'),
 (80, 'R180821', 'JAGU RAJA VINAY', 'M', 'CSE', 'Sec-B'),
 (88, 'R180836', 'MALLAPPA HAREESH', 'M', 'CSE', 'Sec-B'),
 (91, 'R180861', 'SAKE SAI KUMAR', 'M', 'CSE', 'Sec-B'),
 (64, 'R180864', 'MADDINENI ANIL KUMAR', 'M', 'CSE', 'Sec-B'),
 (18, 'R180870', 'GAJJA KAVITHA', 'F', 'CSE', 'Sec-B'),
 (24, 'R180875', 'KAMBALA DIVYA SREE', 'F', 'CSE', 'Sec-B'),
 (48, 'R180885', 'KAMASANI JAYASREE', 'F', 'CSE', 'Sec-B'),
 (79, 'R180886', 'BUKKE ABHILASH NAIK', 'M', 'CSE', 'Sec-B'),
 (71, 'R180898', 'SANGA ZAREESH SAI VIGNESH', 'M', 'CSE', 'Sec-B'),
 (28, 'R180901', 'KARIYAR MADHAVI', 'F', 'CSE', 'Sec-B'),
 (38, 'R180931', 'MULLA SHAMSHADBEGUM', 'F', 'CSE', 'Sec-B'),
 (58, 'R180965', 'POTLI MURALI MOHAN', 'M', 'CSE', 'Sec-B'),
 (67, 'R180973', 'UPPALA SANDEEP', 'M', 'CSE', 'Sec-B'),
 (8, 'R180984', 'BOYA MOUNIKA', 'F', 'CSE', 'Sec-B'),
 (73, 'R180993', 'SABBARAPU HARSHA VARDHAN', 'M', 'CSE', 'Sec-B'),
 (90, 'R181011', 'VENDOTI VENKATA SAI KUMAR', 'M', 'CSE', 'Sec-B'),
 (63, 'R181015', 'TALARI LOKESH', 'M', 'CSE', 'Sec-B'),
 (92, 'R181022', 'GUNDLURU NIKHIL', 'M', 'CSE', 'Sec-B'),
 (74, 'R181030', 'MALINENI LAKSHMI NARAYANA', 'M', 'CSE', 'Sec-B'),
 (26, 'R181053', 'KANDIPATI LAKSHMI SOWJANYA', 'F', 'CSE', 'Sec-B'),
 (39, 'S180901', 'NAKKALADINNE MAMATHA', 'F', 'CSE', 'Sec-B'))

In [176]:
page.create(section.display_html('SEC_B', '*'))

Columns:  ('*',)
SELECT * FROM SEC_B ORDER BY s_no
Tuple:  ('*',)

True

In [177]:
page.show()

In [178]:
#Jyothi Code
def fizzBuzz(n):
    for i in range(1,n+1):
        if(i%3==0 and i%5==0):
            print("FizzBuzz")
        if(i%3==0 and i%5!=0):
            print("Fizz")
        if(i%3!=0 and i%5==0):
            print("Buzz")
        if(i%3!=0 and i%5!=0):
            print(i)