# MID-2

In [62]:
import re

### 1. Write a Regular Expression for Following Problems

In [39]:
#Assumed String 
string='''Anil and Rehamam are besties
r180864@rguktrkv.ac.in
anil@gmail.com
30/08/2022, 23-12-2002'''

In [33]:
#1.1 To return the first word of a string
pattern=r'^\w+'
re.findall(pattern, string)

['Krish']

*1. 2. Return the first two characters of each word

In [34]:
#1.2 To return the first two characters of each word
pattern=r'\b\w{2}'
re.findall(pattern, string)

['Kr',
 'An',
 'an',
 'Re',
 'ar',
 'be',
 'r1',
 'rg',
 'ac',
 'in',
 'an',
 'gm',
 'co',
 '30',
 '08',
 '20',
 '23',
 '12',
 '20']

In [37]:
#1.3 To return the domain type of given email-ids
pattern=r'@[\w\.]+'
re.findall(pattern, string)

['@rguktrkv.ac.in', '@gmail.com']

In [48]:
#1.4 To return date from a string
pattern=r'\d{2}[/-]\d{2}[/-]\d{4}'
re.findall(pattern, string)

['30/08/2022', '23-12-2002']

In [41]:
#1.5 To return all words of a string those starts with vowel
pattern=r'\b[AEIOUaeiou]\w*'
re.findall(pattern, string)

['Anil', 'and', 'are', 'ac', 'in', 'anil']

### 2. Adding two numpy matrices

In [63]:
import numpy as np

In [47]:
m1=np.matrix([[1,2,3], [4,5,6]])
m2=np.matrix([[1,2,3], [4,5,6]])

In [48]:
m1+m2

matrix([[ 2,  4,  6],
        [ 8, 10, 12]])

In [49]:
#Another way of doing the above
np.add(m1, m2)

matrix([[ 2,  4,  6],
        [ 8, 10, 12]])

### 3.1 Create a dataframe using list of dictionaries

In [64]:
import pandas as pd

In [20]:
A={0: 1, 1: 4}
B={0: 2, 1: 5}
C={0: 3, 1: 6}

In [21]:
df=pd.DataFrame({'A':A, 'B':B, 'C':C})
df

   A  B  C
0  1  2  3
1  4  5  6

### 3.2 Five Attributes of DataFrame

In [55]:
#Columns gives the list of column names
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [57]:
#Size gives the total no.of values present in the DataFrame i.e., rows*columns
df.size

6

In [58]:
#Shape gives the shape of DataFrame in the format of (rows, columns)
df.shape

(2, 3)

In [59]:
#ndim gives the no.of dimentions of the DataFrame (1 or 2 or 3 or.....)
df.ndim

2

In [60]:
#dtypes gives the Data Type of all the columns of the DataFrame
df.dtypes

A    int64
B    int64
C    int64
dtype: object

### 4.1 Question

In [62]:
#Given nested list
L1=[[1,"Anil"], [2, "Ashok"], [3, "Abhi"]]

In [64]:
#Creating DataFrame using the given list with column names as ['Emp no', 'Ename']
pd.DataFrame(L1, columns=['Emp no', 'Ename'])

   Emp no  Ename
0       1   Anil
1       2  Ashok
2       3   Abhi

### 4.2 Question

In [66]:
l=['Udaya', 'Bhargav', 'Bhagya', 'Yuva', 'Raju', 'Sandhya'] #Given List of names
s=pd.Series(l) #Making Series using the list

In [67]:
s #Printing Series s

0      Udaya
1    Bhargav
2     Bhagya
3       Yuva
4       Raju
5    Sandhya
dtype: object

In [68]:
s[:3]

0      Udaya
1    Bhargav
2     Bhagya
dtype: object

In [69]:
s[3:3:3]

Series([], dtype: object)

In [70]:
s[-3:]

3       Yuva
4       Raju
5    Sandhya
dtype: object

In [71]:
s[:-4:-1]

5    Sandhya
4       Raju
3       Yuva
dtype: object

### 5. Question

In [45]:
#Creating randon marks for the subjects 
WT=[np.random.randint(35, 101) for i in range(6)]
CD=[np.random.randint(35, 101) for i in range(6)]
DSP=[np.random.randint(35, 101) for i in range(6)]
OR=[np.random.randint(35, 101) for i in range(6)]
COA=[np.random.randint(35, 101) for i in range(6)]
total=[None for i in range(6)] #Making a column with all null values

In [46]:
#Creating a list with names to set as index for our dataframe
names=['Anil', 'Rehaman', 'Rama', 'Krishna', 'Govinda', 'Jagannath']

In [47]:
#Creating DataFrame
marks=pd.DataFrame({'WT': WT, 'CD': CD, 'DSP': DSP, 'OR':OR, 'COA':COA, "Total":total}, index=names)

In [48]:
marks

           WT  CD  DSP  OR  COA Total
Anil       63  71   89  56   51  None
Rehaman    66  59   72  58   85  None
Rama       49  53   95  35   69  None
Krishna    80  73   55  91   52  None
Govinda    83  48   37  79   74  None
Jagannath  57  40   77  71   58  None

In [49]:
#Making some values as null to reach our requirement
marks.iloc[0:1, 4:5]=None
marks.iloc[1:2, 0:1]=None
marks.iloc[0:1, 1:2]=None
marks.iloc[5:6, 2:3]=None

In [50]:
marks

             WT    CD   DSP  OR   COA Total
Anil       63.0   NaN  89.0  56   NaN  None
Rehaman     NaN  59.0  72.0  58  85.0  None
Rama       49.0  53.0  95.0  35  69.0  None
Krishna    80.0  73.0  55.0  91  52.0  None
Govinda    83.0  48.0  37.0  79  74.0  None
Jagannath  57.0  40.0   NaN  71  58.0  None

In [52]:
#1. Drop the rows with null values
marks.dropna(how='any', axis=0) #Here 'any' specifies that atleast 1 null, and axis=0 specifies rows
#as every row contains null value, it removes all the rows

Empty DataFrame
Columns: [WT, CD, DSP, OR, COA, Total]
Index: []

In [107]:
#The same can be achieved by this also
marks.dropna() #Here any='how' and axis=0 are default values

Empty DataFrame
Columns: [WT, CD, DSP, OR, COA, Total]
Index: []

In [53]:
#2. Drop the columns with missing Values
marks.dropna(how='any', axis=1) 
#will drop WT, CD, DSP, COA as all these columns contains atleast one null value

           OR
Anil       56
Rehaman    58
Rama       35
Krishna    91
Govinda    79
Jagannath  71

In [110]:
#3. Only Drop specific column with missing Data
marks.dropna(axis=1, subset=['Anil'])

             WT   DSP  OR
Anil       42.0  42.0  86
Rehaman     NaN  42.0  40
Rama       97.0  66.0  87
Krishna    53.0  92.0  40
Govinda    55.0  77.0  67
Jagannath  83.0   NaN  57

### 6. Conditional Formatting

In [71]:
WT=np.array([np.random.randint(35, 101) for i in range(6)])
CD=np.array([np.random.randint(35, 101) for i in range(6)])
DSP=np.array([np.random.randint(35, 101) for i in range(6)])
OR=np.array([np.random.randint(35, 101) for i in range(6)])
COA=np.array([np.random.randint(35, 101) for i in range(6)])
total=WT+CD+DSP+OR+COA

In [72]:
names=['Rama', 'Krishna', 'Govinda', 'Jagannath', 'Keshava', 'Madhava']

In [73]:
total

array([269, 319, 428, 294, 326, 432])

In [74]:
marks=pd.DataFrame({'WT': WT, 'CD': CD, 'DSP': DSP, 'OR':OR, 'COA':COA, "Total":total}, index=names)
marks

           WT  CD  DSP  OR  COA  Total
Rama       71  41   62  53   42    269
Krishna    41  37   75  71   95    319
Govinda    91  64   86  89   98    428
Jagannath  81  78   37  42   56    294
Keshava    89  40   84  72   41    326
Madhava    96  79   71  86  100    432

In [75]:
def highlight(row):
    val=row.loc['Total']
    if val<300:
        color='red'
        
    else:
        color=''
    return ['background-color:{}'.format(color) for r in row]

In [76]:
marks.style.apply(highlight, axis=1)

In [77]:
def highlight(row):
    return ['background-color:red' for r in row]

marks.style.apply(highlight, axis=1)

In [18]:
marks.style.background_gradient(cmap="Blues")

In [20]:
marks.style.background_gradient(cmap="Spectral")

In [1]:
import xlsxwriter
import csv

In [2]:
campus="RK VALLEY"
branch="CSE"
section="B"

In [6]:
book=xlsxwriter.Workbook('marks.xlsx')

In [12]:
format1=book.add_format({'bg_color':'green', 'border':1})
format2=book.add_format({'bg_color':'orange', 'border':1})

In [14]:
s=book.add_worksheet("Marks")

DuplicateWorksheetName: Sheetname 'marks', with case ignored, is already in use.

In [11]:
s.write(1,0, "Campus name", format1)
s.write(1,1, campus, format2)
s.write(2,0, "Campus name", format1)
s.write(2,1, branch, format2)
s.write(3,0, "Campus name", format1)
s.write(3,1, section, format2)

index=5
with open("stup.csv") as csvfile:
    csv_reader=csv.reader(csvfile)
    for row in csv_reader:
        if index==5:
            format=format1
        else:
            format=format2
            
        s.write(index, 0, row[0], format)
        s.write(index, 1, row[1], format)
        s.write(index, 2, row[2], format)
        s.write(index, 3, row[3], format)
        s.write(index, 4, row[4], format)
        s.write(index, 5, row[5], format)
        
        index+=1
        
book.close()